<div class="book-preview thumbnail">
    <a ui-sref="books-details({bookId: bookData.id})">
        <img ng-src="{{ bookData.cover }}" alt="{{ bookData.name }}" class="img-thumbnail">
    </a>

    <div class="caption">
        <h3 class="name">
            <a ui-sref="books-details({bookId: bookData.id})">{{ bookData.name }} </a>
        </h3>
        <p class="author">by {{ bookData.author.name }}</p>
        <span class="likes text-danger"><i class="fa fa-heart-o"></i> {{ bookData.likes }}</span>
        <span class="pull-right">
            <time am-time-ago="bookData.published" title="{{ bookData.published | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time>
        </span>
    </div>
</div>