<form class="form-inline books-search" ng-submit="searchChangeFn()" name="searchForm">
    <div class="input-group">
        <input type="text" class="form-control" name="search"
               placeholder="Search books"
               ng-model="searchQuery"
               ng-disabled="disable">
        <label for="search" class="sr-only">Search for a book by author or title</label>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-disabled="disable">
                Search <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>